.board{
    border: solid 15px;
    width: fit-content;
    /* margin: auto; */
    margin-top: 50px;
}
.redBox{
    background-color: darkred;
    border-color: darkred;
    width: 60px;
    height: 60px;
    padding: none;
    margin: none;
    border-style: solid;
    border-width: 3px;
}
.whiteBox{
    background-color: white;
    border-color: white;
    color: black;
    width: 60px;
    height: 60px;
    padding: none;
    margin: none;
    border-style: solid;
    border-width: 3px;
}
.whiteBox:active{
    background-color: palegreen;
}
.redBox:active{
    background-color: palegreen;
}
.horizontal{
    display: flex;
    flex-direction: row;
}