.board{
    border: solid 15px;
    width: fit-content;
    margin: auto;
    margin-top: 20px;
}
.redBox{
    background-color: darkred;
    border-color: darkred;
    width: 80px;
    height: 80px;
    padding: none;
    margin: none;
    border-style: solid;
    border-width: 3px;
}
.whiteBox{
    background-color: white;
    border-color: white;
    color: black;
    width: 80px;
    height: 80px;
    padding: none;
    margin: none;
    border-style: solid;
    border-width: 3px;
}
.whiteBox:active{
    background-color: palegreen;
}
.redBox:active{
    background-color: palegreen;
}
.horizontal{
    display: flex;
    flex-direction: row;
}

.pieces{
    display: block;
    margin: auto;
    border: none;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
}